
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">FriendzZ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
      <app-login-form class="ml-auto"></app-login-form>
    </div>
  </div>
</nav>
<div class="container">
    <app-friends></app-friends>
</div>